*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type: none;
}

/* este es el header */

header{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #222222;
    justify-content: space-between;
}

.logo{
    width: 234px;
    height: 80px;
    position: absolute;
    top: 10px;
    left: 20px;
}

.navegador{
    width: 284px;
    height: 19px;
    position: absolute;
    top: 40px;
    right: 20px;
}

.navegador nav ul{
    display: flex;
    width: 284px;
    height: 19px;
    color: #f3f3f3;
    justify-content: space-between;
    
}

/* este es el main */

section{
    height: 500px;
    display: flex;
    padding: 20px 30px ;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: #e5e5e5;
}


.caja{
    width: 490px;
    height: 350px;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
}

.uno{
    background-image: url( ../img/delivery.png);
    text-align: center;
    color: red;
    
}
.uno span{
    color: white;
}

.dos{
background-color: #ffffff;
font-size: 20px;
}
.dos h4{
    text-align: center;
    color: red;
}
.dos ol li{
    font-size: 16px;
    margin: 15px;

}

.contenedor-caja2{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    font-weight: bold;
}


/* este es el footer */

footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: #222222;
    justify-content: space-between;
    
    color: #f3f3f3;
}

.nav-footer{
    width: 78px;
    margin: 30px 40px;    
}
.nav-footer nav ul li{
    margin: 7px;
}

.logo-footer{
    width: 212px;
    height: 80px;
    margin: 30px 40px
}